################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/x64/Debug/vc141.pdb
/x64/Debug/stdafx.obj
/x64/Debug/SeaBattle.tlog/uic.write.1u.tlog
/x64/Debug/SeaBattle.tlog/uic.read.1u.tlog
/x64/Debug/SeaBattle.tlog/SeaBattle.write.1u.tlog
/x64/Debug/SeaBattle.tlog/SeaBattle.lastbuildstate
/x64/Debug/SeaBattle.tlog/rcc.write.1u.tlog
/x64/Debug/SeaBattle.tlog/rcc.read.1u.tlog
/x64/Debug/SeaBattle.tlog/rc.write.1.tlog
/x64/Debug/SeaBattle.tlog/rc.read.1.tlog
/x64/Debug/SeaBattle.tlog/rc.command.1.tlog
/x64/Debug/SeaBattle.tlog/moc.write.1u.tlog
/x64/Debug/SeaBattle.tlog/moc.read.1u.tlog
/x64/Debug/SeaBattle.tlog/link.write.1.tlog
/x64/Debug/SeaBattle.tlog/link.read.1.tlog
/x64/Debug/SeaBattle.tlog/link.command.1.tlog
/x64/Debug/SeaBattle.tlog/CL.write.1.tlog
/x64/Debug/SeaBattle.tlog/CL.read.1.tlog
/x64/Debug/SeaBattle.tlog/CL.command.1.tlog
/x64/Debug/SeaBattle.res
/x64/Debug/SeaBattle.pdb
/x64/Debug/SeaBattle.pch
/x64/Debug/SeaBattle.obj
/x64/Debug/SeaBattle.log
/x64/Debug/SeaBattle.ilk
/x64/Debug/SeaBattle.exe
/x64/Debug/SeaBattle.Build.CppClean.log
/x64/Debug/qt_work.log
/x64/Debug/qrc_SeaBattle.obj
/x64/Debug/Packet.obj
/x64/Debug/moc_SeaBattle.obj
/x64/Debug/main.obj
/x64/Debug/Graphics.obj
/x64/Debug/ClientServer.obj
/GeneratedFiles/qrc_SeaBattle.cpp
/GeneratedFiles/Debug/moc_SeaBattle.cpp
/.vs/SeaBattle/v15/ipch/a20b6e5f2ae153a0.ipch
/.vs/SeaBattle/v15/Browse.VC.opendb
/.vs/SeaBattle/v15/Browse.VC.db
/.vs/SeaBattle/v15/.suo
/GeneratedFiles/ui_SeaBattle.h
