################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/x64/Debug/vc141.pdb
/x64/Debug/stdafx.obj
/x64/Debug/SeaBattle.tlog/uic.write.1u.tlog
/x64/Debug/SeaBattle.tlog/uic.read.1u.tlog
/x64/Debug/SeaBattle.tlog/SeaBattle.write.1u.tlog
/x64/Debug/SeaBattle.tlog/SeaBattle.lastbuildstate
/x64/Debug/SeaBattle.tlog/rcc.write.1u.tlog
/x64/Debug/SeaBattle.tlog/rcc.read.1u.tlog
/x64/Debug/SeaBattle.tlog/rc.write.1.tlog
/x64/Debug/SeaBattle.tlog/rc.read.1.tlog
/x64/Debug/SeaBattle.tlog/rc.command.1.tlog
/x64/Debug/SeaBattle.tlog/moc.write.1u.tlog
/x64/Debug/SeaBattle.tlog/moc.read.1u.tlog
/x64/Debug/SeaBattle.tlog/link.write.1.tlog
/x64/Debug/SeaBattle.tlog/link.read.1.tlog
/x64/Debug/SeaBattle.tlog/link.command.1.tlog
/x64/Debug/SeaBattle.tlog/CL.write.1.tlog
/x64/Debug/SeaBattle.tlog/CL.read.1.tlog
/x64/Debug/SeaBattle.tlog/CL.command.1.tlog
/x64/Debug/SeaBattle.res
/x64/Debug/SeaBattle.pdb
/x64/Debug/SeaBattle.pch
/x64/Debug/SeaBattle.obj
/x64/Debug/SeaBattle.log
/x64/Debug/SeaBattle.ilk
/x64/Debug/SeaBattle.exe
/x64/Debug/SeaBattle.Build.CppClean.log
/x64/Debug/qt_work.log
/x64/Debug/qrc_SeaBattle.obj
/x64/Debug/Packet.obj
/x64/Debug/moc_SeaBattle.obj
/x64/Debug/main.obj
/x64/Debug/Graphics.obj
/x64/Debug/ClientServer.obj
/GeneratedFiles/qrc_SeaBattle.cpp
/GeneratedFiles/Debug/moc_SeaBattle.cpp
/.vs/SeaBattle/v15/ipch/a20b6e5f2ae153a0.ipch
/.vs/SeaBattle/v15/Browse.VC.opendb
/.vs/SeaBattle/v15/Browse.VC.db
/.vs/SeaBattle/v15/.suo
/GeneratedFiles/ui_SeaBattle.h
/x64/Debug/Server.obj
/x64/Debug/moc_Server.obj
/x64/Debug/moc_NetworkInterface.obj
/x64/Debug/moc_Client.obj
/x64/Debug/Client.obj
/GeneratedFiles/Debug/moc_Server.cpp
/GeneratedFiles/Debug/moc_NetworkInterface.cpp
/GeneratedFiles/Debug/moc_ClientServer.cpp
/GeneratedFiles/Debug/moc_Client.cpp
/x64/Debug/moc_ClientServer.obj
/x64/Debug/moc_Graphics.obj
/GeneratedFiles/Debug/moc_Graphics.cpp
/GeneratedFiles/Release/moc_Server.cpp
/GeneratedFiles/Release/moc_SeaBattle.cpp
/GeneratedFiles/Release/moc_NetworkInterface.cpp
/GeneratedFiles/Release/moc_Graphics.cpp
/GeneratedFiles/Release/moc_Client.cpp
/.vs/SeaBattle/v15/ipch/AutoPCH/cc7b7bcc5a75479a/MOC_CLIENT.ipch
/.vs/SeaBattle/v15/ipch/68052662418bb3f0.ipch
/Settings.xml
/x64/Release/vc.nativecodeanalysis.all.xml
/x64/Release/stdafx.obj
/x64/Release/stdafx.nativecodeanalysis.xml
/x64/Release/Server.obj
/x64/Release/server.nativecodeanalysis.xml
/x64/Release/SeaBattle.tlog/uic.write.1u.tlog
/x64/Release/SeaBattle.tlog/uic.read.1u.tlog
/x64/Release/SeaBattle.tlog/SeaBattle.write.1u.tlog
/x64/Release/SeaBattle.tlog/SeaBattle.lastbuildstate
/x64/Release/SeaBattle.tlog/rcc.write.1u.tlog
/x64/Release/SeaBattle.tlog/rcc.read.1u.tlog
/x64/Release/SeaBattle.tlog/rc.write.1.tlog
/x64/Release/SeaBattle.tlog/rc.read.1.tlog
/x64/Release/SeaBattle.tlog/rc.command.1.tlog
/x64/Release/SeaBattle.tlog/moc.write.1u.tlog
/x64/Release/SeaBattle.tlog/moc.read.1u.tlog
/x64/Release/SeaBattle.tlog/link.write.1.tlog
/x64/Release/SeaBattle.tlog/link.read.1.tlog
/x64/Release/SeaBattle.tlog/link.command.1.tlog
/x64/Release/SeaBattle.tlog/CL.write.1.tlog
/x64/Release/SeaBattle.tlog/CL.read.1.tlog
/x64/Release/SeaBattle.tlog/CL.command.1.tlog
/x64/Release/SeaBattle.res
/x64/Release/SeaBattle.pchast
/x64/Release/SeaBattle.pch
/x64/Release/SeaBattle.obj
/x64/Release/seabattle.nativecodeanalysis.xml
/x64/Release/SeaBattle.log
/x64/Release/SeaBattle.exe.lastcodeanalysissucceeded
/x64/Release/SeaBattle.exe
/x64/Release/SeaBattle.Build.CppClean.log
/x64/Release/qt_work.log
/x64/Release/qrc_SeaBattle.obj
/x64/Release/qrc_seabattle.nativecodeanalysis.xml
/x64/Release/Packet.obj
/x64/Release/packet.nativecodeanalysis.xml
/x64/Release/NativeCodeAnalysis.read.1.tlog
/x64/Release/moc_Server.obj
/x64/Release/moc_server.nativecodeanalysis.xml
/x64/Release/moc_SeaBattle.obj
/x64/Release/moc_seabattle.nativecodeanalysis.xml
/x64/Release/moc_NetworkInterface.obj
/x64/Release/moc_networkinterface.nativecodeanalysis.xml
/x64/Release/moc_Graphics.obj
/x64/Release/moc_graphics.nativecodeanalysis.xml
/x64/Release/moc_Client.obj
/x64/Release/moc_client.nativecodeanalysis.xml
/x64/Release/main.obj
/x64/Release/main.nativecodeanalysis.xml
/x64/Release/Graphics.obj
/x64/Release/graphics.nativecodeanalysis.xml
/x64/Release/Client.obj
/x64/Release/client.nativecodeanalysis.xml
/x64/Debug/MyMessageBox.obj
/.vs/SeaBattle/v15/ipch/AutoPCH/635d088fd532af98/MOC_NETWORKINTERFACE.ipch
/x64/Debug/NetworkInterface.obj
/.vs/SeaBattle/v15/ipch/AutoPCH/daba04a3c7a1f64e/MOC_SEABATTLE.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/d0c488d865658390/MOC_NETWORKINTERFACE.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/9d0685719d45d4bf/MOC_SEABATTLE.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/988a59124139d5b4/MOC_NETWORKINTERFACE.ipch
/x64/Debug/moc_Help.obj
/SeaBattle.aps
/GeneratedFiles/ui_SeaBattleHelp.h
/GeneratedFiles/Debug/SeaBattle.moc
/GeneratedFiles/Debug/moc_Help.cpp
/.vs/SeaBattle/v15/ipch/AutoPCH/9d992ba7c59f74e7/MOC_SEABATTLE.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/11e0c20eb932e1c1/MOC_NETWORKINTERFACE.ipch
/.vs/SeaBattle/v15/ipch/5dfd8ebd905265bd.ipch
/Debug/SeaBattle.log
/.vs/SeaBattle/v15/ipch/AutoPCH/fdca64c61733edc3/MOC_DOONTHREAD.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/c0edceb1e1748514/MOC_NETWORKINTERFACE.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/bb8357f5c35eb1d2/MOC_NETWORKINTERFACE.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/96b9f5374f3ade0d/MOC_NETWORKINTERFACE.ipch
/GeneratedFiles/Debug/moc_SocketHelper.cpp
/GeneratedFiles/Debug/moc_DoOnThread.cpp
/x64/Debug/moc_SocketHelper.obj
/x64/Debug/moc_DoOnThread.obj
/.vs/SeaBattle/v15/ipch/AutoPCH/c166cbf2b76843b0/MOC_NETWORKINTERFACE.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/a50ab56786a018ee/MOC_SEABATTLE.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/3955ee9cce7e6d27/MOC_DOONTHREAD.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/e15097913a126410/MOC_NETWORKINTERFACE.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/dd369fc9b52b2229/MOC_DOONTHREAD.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/7ad0cfa232b6649e/MOC_SERVER.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/2bf612d1a94fa5ce/MOC_NETWORKINTERFACE.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/1c1d69b376bb1de2/MOC_SERVER.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/72af7d22ac44ac96/MOC_DOONTHREAD.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/4e1c64354d357224/MOC_DOONTHREAD.ipch
/x64/Debug/moc_ServerThread.obj
/x64/Debug/moc_ClientThread.obj
/GeneratedFiles/Debug/moc_ServerThread.cpp
/GeneratedFiles/Debug/moc_ClientThread.cpp
/.vs/SeaBattle/v15/ipch/AutoPCH/e96131ab1b3de4ea/MOC_SERVER.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/325ef26ecad9d584/MOC_NETWORKINTERFACE.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/2b40cc2d239c495c/MOC_SERVERTHREAD.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/82b14d0cd0bc07c1/MOC_NETWORKINTERFACE.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/6089f3da9aef24e9/MOC_SERVERTHREAD.ipch
/x64/Debug/qrc_SeaBattle.asm
/x64/Debug/moc_ServerThread.asm
/x64/Debug/moc_Server.asm
/x64/Debug/moc_SeaBattle.asm
/x64/Debug/moc_NetworkInterface.asm
/x64/Debug/moc_Help.asm
/x64/Debug/moc_ClientThread.asm
/x64/Debug/moc_Client.asm
/.vs/SeaBattle/v15/ipch/AutoPCH/149697b31ca092be/MOC_SERVERTHREAD.ipch
/Debug/moc_Help.asm
/Debug/moc_ClientThread.obj
/Debug/moc_ClientThread.asm
/Debug/moc_Client.obj
/Debug/moc_Client.asm
/Debug/main.obj
/Debug/Graphics.obj
/Debug/Client.obj
/.vs/SeaBattle/v15/ipch/f016f75c78dd4b95.ipch
/.vs/SeaBattle/v15/ipch/cf599a058512da6d.ipch
/.vs/SeaBattle/v15/ipch/cd0ceab2b13bc35.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/e0075c4b6a6d5c4f/CLIENT.ipch
/.vs/SeaBattle/v15/ipch/572776970602c561.ipch
/x64/Debug/translations/qt_zh_TW.qm
/x64/Debug/translations/qt_uk.qm
/x64/Debug/translations/qt_sk.qm
/x64/Debug/translations/qt_ru.qm
/x64/Debug/translations/qt_pl.qm
/x64/Debug/translations/qt_lv.qm
/x64/Debug/translations/qt_ko.qm
/x64/Debug/translations/qt_ja.qm
/x64/Debug/translations/qt_it.qm
/x64/Debug/translations/qt_hu.qm
/x64/Debug/translations/qt_he.qm
/x64/Debug/translations/qt_gd.qm
/x64/Debug/translations/qt_fr.qm
/x64/Debug/translations/qt_fi.qm
/x64/Debug/translations/qt_es.qm
/x64/Debug/translations/qt_en.qm
/x64/Debug/translations/qt_de.qm
/x64/Debug/translations/qt_da.qm
/x64/Debug/translations/qt_cs.qm
/x64/Debug/translations/qt_ca.qm
/x64/Debug/translations/qt_bg.qm
/x64/Debug/translations/qt_ar.qm
/x64/Debug/styles/qwindowsvistastyled.dll
/x64/Debug/Settings.xml
/x64/Debug/Qt5Xmld.dll
/x64/Debug/Qt5Widgetsd.dll
/x64/Debug/Qt5Svgd.dll
/x64/Debug/Qt5Networkd.dll
/x64/Debug/Qt5Guid.dll
/x64/Debug/Qt5Cored.dll
/x64/Debug/platforms/qwindowsd.dll
/x64/Debug/opengl32sw.dll
/x64/Debug/libGLESV2d.dll
/x64/Debug/libEGLd.dll
/x64/Debug/imageformats/qwebpd.dll
/x64/Debug/imageformats/qwbmpd.dll
/x64/Debug/imageformats/qtiffd.dll
/x64/Debug/imageformats/qtgad.dll
/x64/Debug/imageformats/qsvgd.dll
/x64/Debug/imageformats/qjpegd.dll
/x64/Debug/imageformats/qicod.dll
/x64/Debug/imageformats/qicnsd.dll
/x64/Debug/imageformats/qgifd.dll
/x64/Debug/iconengines/qsvgicond.dll
/x64/Debug/D3Dcompiler_47.dll
/x64/Debug/bearer/qgenericbearerd.dll
/Win32/Release/SeaBattle.exe
/Win32/Debug/translations/qt_zh_TW.qm
/Win32/Debug/translations/qt_uk.qm
/Win32/Debug/translations/qt_sk.qm
/Win32/Debug/translations/qt_ru.qm
/Win32/Debug/translations/qt_pl.qm
/Win32/Debug/translations/qt_lv.qm
/Win32/Debug/translations/qt_ko.qm
/Win32/Debug/translations/qt_ja.qm
/Win32/Debug/translations/qt_it.qm
/Win32/Debug/translations/qt_hu.qm
/Win32/Debug/translations/qt_he.qm
/Win32/Debug/translations/qt_gd.qm
/Win32/Debug/translations/qt_fr.qm
/Win32/Debug/translations/qt_fi.qm
/Win32/Debug/translations/qt_es.qm
/Win32/Debug/translations/qt_en.qm
/Win32/Debug/translations/qt_de.qm
/Win32/Debug/translations/qt_da.qm
/Win32/Debug/translations/qt_cs.qm
/Win32/Debug/translations/qt_ca.qm
/Win32/Debug/translations/qt_bg.qm
/Win32/Debug/translations/qt_ar.qm
/Win32/Debug/styles/qwindowsvistastyled.dll
/Win32/Debug/Settings.xml
/Win32/Debug/SeaBattle.pdb
/Win32/Debug/SeaBattle.ilk
/Win32/Debug/SeaBattle.exe
/Win32/Debug/Qt5Xmld.dll
/Win32/Debug/Qt5Widgetsd.dll
/Win32/Debug/Qt5Svgd.dll
/Win32/Debug/Qt5Networkd.dll
/Win32/Debug/Qt5Guid.dll
/Win32/Debug/Qt5Cored.dll
/Win32/Debug/platforms/qwindowsd.dll
/Win32/Debug/opengl32sw.dll
/Win32/Debug/libGLESV2d.dll
/Win32/Debug/libEGLd.dll
/Win32/Debug/imageformats/qwebpd.dll
/Win32/Debug/imageformats/qwbmpd.dll
/Win32/Debug/imageformats/qtiffd.dll
/Win32/Debug/imageformats/qtgad.dll
/Win32/Debug/imageformats/qsvgd.dll
/Win32/Debug/imageformats/qjpegd.dll
/Win32/Debug/imageformats/qicod.dll
/Win32/Debug/imageformats/qicnsd.dll
/Win32/Debug/imageformats/qgifd.dll
/Win32/Debug/iconengines/qsvgicond.dll
/Win32/Debug/D3Dcompiler_47.dll
/Win32/Debug/bearer/qgenericbearerd.dll
/GeneratedFiles/Release/moc_ServerThread.cpp
/GeneratedFiles/Release/moc_Help.cpp
/GeneratedFiles/Release/moc_ClientThread.cpp
/Debug/vc141.pdb
/Debug/stdafx.obj
/Debug/Server.obj
/Debug/SeaBattle.tlog/uic.write.1u.tlog
/Debug/SeaBattle.tlog/uic.read.1u.tlog
/Debug/SeaBattle.tlog/SeaBattle.write.1u.tlog
/Debug/SeaBattle.tlog/SeaBattle.lastbuildstate
/Debug/SeaBattle.tlog/rcc.write.1u.tlog
/Debug/SeaBattle.tlog/rcc.read.1u.tlog
/Debug/SeaBattle.tlog/rc.write.1.tlog
/Debug/SeaBattle.tlog/rc.read.1.tlog
/Debug/SeaBattle.tlog/rc.command.1.tlog
/Debug/SeaBattle.tlog/moc.write.1u.tlog
/Debug/SeaBattle.tlog/moc.read.1u.tlog
/Debug/SeaBattle.tlog/link.write.1.tlog
/Debug/SeaBattle.tlog/link.read.1.tlog
/Debug/SeaBattle.tlog/link.command.1.tlog
/Debug/SeaBattle.tlog/CL.write.1.tlog
/Debug/SeaBattle.tlog/CL.read.1.tlog
/Debug/SeaBattle.tlog/CL.command.1.tlog
/Debug/SeaBattle.res
/Debug/SeaBattle.pch
/Debug/SeaBattle.obj
/Debug/SeaBattle.Build.CppClean.log
/Debug/qt_work.log
/Debug/qrc_SeaBattle.obj
/Debug/qrc_SeaBattle.asm
/Debug/Packet.obj
/Debug/NetworkInterface.obj
/Debug/MyMessageBox.obj
/Debug/moc_ServerThread.obj
/Debug/moc_ServerThread.asm
/Debug/moc_Server.obj
/Debug/moc_Server.asm
/Debug/moc_SeaBattle.obj
/Debug/moc_SeaBattle.asm
/Debug/moc_NetworkInterface.obj
/Debug/moc_NetworkInterface.asm
/Debug/moc_Help.obj
/Release/stdafx.obj
/Release/Server.obj
/Release/SeaBattle.tlog/uic.write.1u.tlog
/Release/SeaBattle.tlog/uic.read.1u.tlog
/Release/SeaBattle.tlog/SeaBattle.write.1u.tlog
/Release/SeaBattle.tlog/SeaBattle.lastbuildstate
/Release/SeaBattle.tlog/rcc.write.1u.tlog
/Release/SeaBattle.tlog/rcc.read.1u.tlog
/Release/SeaBattle.tlog/rc.write.1.tlog
/Release/SeaBattle.tlog/rc.read.1.tlog
/Release/SeaBattle.tlog/rc.command.1.tlog
/Release/SeaBattle.tlog/moc.write.1u.tlog
/Release/SeaBattle.tlog/moc.read.1u.tlog
/Release/SeaBattle.tlog/link.write.1.tlog
/Release/SeaBattle.tlog/link.read.1.tlog
/Release/SeaBattle.tlog/link.command.1.tlog
/Release/SeaBattle.tlog/CL.write.1.tlog
/Release/SeaBattle.tlog/CL.read.1.tlog
/Release/SeaBattle.tlog/CL.command.1.tlog
/Release/SeaBattle.res
/Release/SeaBattle.pch
/Release/SeaBattle.obj
/Release/SeaBattle.log
/Release/SeaBattle.Build.CppClean.log
/Release/qt_work.log
/Release/qrc_SeaBattle.obj
/Release/qrc_SeaBattle.asm
/Release/Packet.obj
/Release/NetworkInterface.obj
/Release/MyMessageBox.obj
/Release/moc_ServerThread.obj
/Release/moc_ServerThread.asm
/Release/moc_Server.obj
/Release/moc_Server.asm
/Release/moc_SeaBattle.obj
/Release/moc_SeaBattle.asm
/Release/moc_NetworkInterface.obj
/Release/moc_NetworkInterface.asm
/Release/moc_Help.obj
/Release/moc_Help.asm
/Release/moc_ClientThread.obj
/Release/moc_ClientThread.asm
/Release/moc_Client.obj
/Release/moc_Client.asm
/Release/main.obj
/Release/Graphics.obj
/Release/Client.obj
/.vs/config/applicationhost.config
/.vs/SeaBattle/v15/ipch/AutoPCH/e9e154543016b748/MOC_NETWORKINTERFACE.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/512dbf31b7862bc6/MOC_SEABATTLE.ipch
/.vs/SeaBattle/v15/ipch/AutoPCH/4b3ebb0666aa2142/MOC_SEABATTLE.ipch
